* {
  box-sizing: border-box;
}

body {
  font-family: PingFang SC, miui, system-ui, -apple-system, BlinkMacSystemFont, Hiragino Sans GB, Helvetica Neue, Helvetica, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif !important;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #F5F5F5;
}

.iphonex {
  padding-bottom: 34px;
}

.swiper-pagination-progressbar-fill {
  // background: #264f87 !important;
}

.swiper-pagination-progressbar {
  height: 6px !important;
  left: auto !important;
  right: 0 !important;
}

.echarts {
  width: 100% !important;
  height: 100% !important;
}

.van-loading__text {
  color: #ffffff !important;
  margin-top: 10px !important;
}

.swiper-button-prev {
  left: 3px !important;
  width: 30px !important;
  height: 22px !important;
}

.swiper-button-next {
  right: 3px !important;
  width: 30px !important;
  height: 22px !important;
}

img {
  content: normal !important;
}